<!-- 10 -->
<div class="swiper-slide">
  <article class="ma-card ma-card--act-art">
    <div class="ma-card__media">
      <img
        src="https://images.unsplash.com/photo-1625043094457-c0e5bb443278?q=80&w=1208&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Artwork"
      />
    </div>
    <div class="ma-card__content">
      <div class="ma-card__category">
        <span class="ma-card__category-text">鏈證藝術</span>
        <span class="ma-card__icon" aria-hidden="true"></span>
      </div>
      <div class="ma-card__header">
        <h3 class="ma-card__title">Golden Silence</h3>
        <p class="ma-card__author">陳宇安</p>
      </div>
      <div class="ma-card__body">
        <p class="ma-card__info">
          <span>油畫 / 畫布</span>
          <span>100 × 80 cm</span>
        </p>
        <p class="ma-card__price">
          <span>1.80</span>
          <span>ETH(USD)</span>
        </p>
      </div>
      <div class="ma-card__footer">
        <p class="ma-card__id"><span>M2024ACT000030</span></p>
        <a
          href="https://virtual.metaassets.asia/artworks/M2024APG000017PA"
          class="ma-btn ma-btn--gray-light"
          >詢問收藏</a
        >
      </div>
    </div>
  </article>
</div>

<!-- 11 -->
<div class="swiper-slide">
  <article class="ma-card ma-card--print-art">
    <div class="ma-card__media">
      <img
        src="https://images.unsplash.com/photo-1578926078640-668b1fb75403?q=80&w=1066&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Artwork"
      />
    </div>
    <div class="ma-card__content">
      <div class="ma-card__category">
        <span class="ma-card__category-text">版畫作品</span>
        <span class="ma-card__icon" aria-hidden="true"></span>
      </div>
      <div class="ma-card__header">
        <h3 class="ma-card__title">Light Fragment</h3>
        <p class="ma-card__author">王詩涵</p>
      </div>
      <div class="ma-card__body">
        <p class="ma-card__info">
          <span>數位版畫</span>
          <span>60 × 40 cm</span>
        </p>
        <p class="ma-card__price">
          <span>&nbsp;</span>
          <span>&nbsp;</span>
        </p>
      </div>
      <div class="ma-card__footer">
        <p class="ma-card__id"><span>P2024PRT000030</span></p>
        <a
          href="https://virtual.metaassets.asia/artworks/M2024APG000017PA"
          class="ma-btn ma-btn--gray-light"
          >了解更多</a
        >
      </div>
    </div>
  </article>
</div>

<!-- 12 -->
<div class="swiper-slide">
  <article class="ma-card ma-card--act-art">
    <div class="ma-card__media">
      <img
        src="https://images.unsplash.com/photo-1625043094258-6a84c95124ca?q=80&w=1317&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Artwork"
      />
    </div>
    <div class="ma-card__content">
      <div class="ma-card__category">
        <span class="ma-card__category-text">鏈證藝術</span>
        <span class="ma-card__icon" aria-hidden="true"></span>
      </div>
      <div class="ma-card__header">
        <h3 class="ma-card__title">Burning Horizon</h3>
        <p class="ma-card__author">李志豪</p>
      </div>
      <div class="ma-card__body">
        <p class="ma-card__info">
          <span>混合媒材</span>
          <span>110 × 100 cm</span>
        </p>
        <p class="ma-card__price">
          <span>3.60</span>
          <span>ETH(USD)</span>
        </p>
      </div>
      <div class="ma-card__footer">
        <p class="ma-card__id"><span>M2024ACT000031</span></p>
        <a
          href="https://virtual.metaassets.asia/artworks/M2024APG000017PA"
          class="ma-btn ma-btn--gray-light"
          >詢問收藏</a
        >
      </div>
    </div>
  </article>
</div>

<!-- 13 -->
<div class="swiper-slide">
  <article class="ma-card ma-card--print-art">
    <div class="ma-card__media">
      <img
        src="https://images.unsplash.com/photo-1584441332323-c0473240f3ba?q=80&w=695&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Artwork"
      />
    </div>
    <div class="ma-card__content">
      <div class="ma-card__category">
        <span class="ma-card__category-text">版畫作品</span>
        <span class="ma-card__icon" aria-hidden="true"></span>
      </div>
      <div class="ma-card__header">
        <h3 class="ma-card__title">Neon Shape</h3>
        <p class="ma-card__author">周柏宇</p>
      </div>
      <div class="ma-card__body">
        <p class="ma-card__info">
          <span>絲網印刷</span>
          <span>50 × 70 cm</span>
        </p>
        <p class="ma-card__price">
          <span>0.30</span>
          <span>ETH(USD)</span>
        </p>
      </div>
      <div class="ma-card__footer">
        <p class="ma-card__id"><span>P2024PRT000031</span></p>
        <a
          href="https://virtual.metaassets.asia/artworks/M2024APG000017PA"
          class="ma-btn ma-btn--gray-light"
          >詢問收藏</a
        >
      </div>
    </div>
  </article>
</div>

<!-- 14 -->
<div class="swiper-slide">
  <article class="ma-card ma-card--act-art">
    <div class="ma-card__media">
      <img
        src="https://images.unsplash.com/photo-1581337204873-ef36aa186caa?q=80&w=1156&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Artwork"
      />
    </div>
    <div class="ma-card__content">
      <div class="ma-card__category">
        <span class="ma-card__category-text">鏈證藝術</span>
        <span class="ma-card__icon" aria-hidden="true"></span>
      </div>
      <div class="ma-card__header">
        <h3 class="ma-card__title">White Storm</h3>
        <p class="ma-card__author">黃嘉琪</p>
      </div>
      <div class="ma-card__body">
        <p class="ma-card__info">
          <span>油畫</span>
          <span>130 × 100 cm</span>
        </p>
        <p class="ma-card__price">
          <span>&nbsp;</span>
          <span>&nbsp;</span>
        </p>
      </div>
      <div class="ma-card__footer">
        <p class="ma-card__id"><span>M2024ACT000032</span></p>
        <a
          href="https://virtual.metaassets.asia/artworks/M2024APG000017PA"
          class="ma-btn ma-btn--gray-light"
          >了解更多</a
        >
      </div>
    </div>
  </article>
</div>

<!-- 15 -->
<div class="swiper-slide">
  <article class="ma-card ma-card--print-art">
    <div class="ma-card__media">
      <img
        src="https://images.unsplash.com/photo-1541961017774-22349e4a1262?q=80&w=758&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Artwork"
      />
    </div>
    <div class="ma-card__content">
      <div class="ma-card__category">
        <span class="ma-card__category-text">版畫作品</span>
        <span class="ma-card__icon" aria-hidden="true"></span>
      </div>
      <div class="ma-card__header">
        <h3 class="ma-card__title">Urban Flow</h3>
        <p class="ma-card__author">林志遠</p>
      </div>
      <div class="ma-card__body">
        <p class="ma-card__info">
          <span>數位輸出</span>
          <span>45 × 45 cm</span>
        </p>
        <p class="ma-card__price">
          <span>0.22</span>
          <span>ETH(USD)</span>
        </p>
      </div>
      <div class="ma-card__footer">
        <p class="ma-card__id"><span>P2024PRT000032</span></p>
        <a
          href="https://virtual.metaassets.asia/artworks/M2024APG000017PA"
          class="ma-btn ma-btn--gray-light"
          >詢問收藏</a
        >
      </div>
    </div>
  </article>
</div>

<!-- 16 -->
<div class="swiper-slide">
  <article class="ma-card ma-card--act-art">
    <div class="ma-card__media">
      <img
        src="https://images.unsplash.com/photo-1578301996581-bf7caec556c0?q=80&w=1051&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Artwork"
      />
    </div>
    <div class="ma-card__content">
      <div class="ma-card__category">
        <span class="ma-card__category-text">鏈證藝術</span>
        <span class="ma-card__icon" aria-hidden="true"></span>
      </div>
      <div class="ma-card__header">
        <h3 class="ma-card__title">Blue Depth</h3>
        <p class="ma-card__author">楊子涵</p>
      </div>
      <div class="ma-card__body">
        <p class="ma-card__info">
          <span>油畫 / 畫布</span>
          <span>95 × 120 cm</span>
        </p>
        <p class="ma-card__price">
          <span>2.40</span>
          <span>ETH(USD)</span>
        </p>
      </div>
      <div class="ma-card__footer">
        <p class="ma-card__id"><span>M2024ACT000033</span></p>
        <a
          href="https://virtual.metaassets.asia/artworks/M2024APG000017PA"
          class="ma-btn ma-btn--gray-light"
          >詢問收藏</a
        >
      </div>
    </div>
  </article>
</div>

<!-- 17 -->
<div class="swiper-slide">
  <article class="ma-card ma-card--print-art">
    <div class="ma-card__media">
      <img
        src="https://images.unsplash.com/photo-1695841396880-2dcd1f83c4e7?q=80&w=697&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Artwork"
      />
    </div>
    <div class="ma-card__content">
      <div class="ma-card__category">
        <span class="ma-card__category-text">版畫作品</span>
        <span class="ma-card__icon" aria-hidden="true"></span>
      </div>
      <div class="ma-card__header">
        <h6 class="ma-card__title">Minimal Line</h6>
        <h5 class="ma-card__author">張思遠</h5>
      </div>
      <div class="ma-card__body">
        <p class="ma-card__info">
          <span>限量版畫</span>
          <span>70 × 50 cm</span>
        </p>
        <p class="ma-card__price">
          <span>&nbsp;</span>
          <span>&nbsp;</span>
        </p>
      </div>
      <div class="ma-card__footer">
        <p class="ma-card__id"><span>P2024PRT000033</span></p>
        <a
          href="https://virtual.metaassets.asia/artworks/M2024APG000017PA"
          class="ma-btn ma-btn--gray-light"
          >了解更多</a
        >
      </div>
    </div>
  </article>
</div>

<!-- 18 -->
<div class="swiper-slide">
  <article class="ma-card ma-card--act-art">
    <div class="ma-card__media">
      <img
        src="https://plus.unsplash.com/premium_photo-1674500776034-604db763c427?q=80&w=1075&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Artwork"
      />
    </div>
    <div class="ma-card__content">
      <div class="ma-card__category">
        <span class="ma-card__category-text">鏈證藝術</span>
        <span class="ma-card__icon" aria-hidden="true"></span>
      </div>
      <div class="ma-card__header">
        <h3 class="ma-card__title">Scarlet Wave</h3>
        <p class="ma-card__author">王浩宇</p>
      </div>
      <div class="ma-card__body">
        <p class="ma-card__info">
          <span>混合媒材</span>
          <span>105 × 105 cm</span>
        </p>
        <p class="ma-card__price">
          <span>3.10</span>
          <span>ETH(USD)</span>
        </p>
      </div>
      <div class="ma-card__footer">
        <p class="ma-card__id"><span>M2024ACT000034</span></p>
        <a
          href="https://virtual.metaassets.asia/artworks/M2024APG000017PA"
          class="ma-btn ma-btn--gray-light"
          >詢問收藏</a
        >
      </div>
    </div>
  </article>
</div>
