<footer class="ma-footer">
  <div class="ma-container">
    <div class="ma-inner">
      <div class="ma-footer__content">
        <div class="ma-footer__header">
          <h4>Contacts</h4>
        </div>
        <div class="ma-footer__groups">
          <!-- 相關服務 -->
          <div
            class="ma-footer__group ma-footer__group--service"
            aria-label="相關服務"
          >
            <h5 class="ma-footer__title">相關服務</h5>
            <ul class="ma-footer__list">
              <li>
                <a href="#" target="_blank" rel="noopener noreferrer"
                  >藝術資產管理服務</a
                >
              </li>
              <li>
                <a href="#" target="_blank" rel="noopener noreferrer"
                  >ACT 藝術資產鏈證發行</a
                >
              </li>
              <li>
                <a href="#" target="_blank" rel="noopener noreferrer"
                  >3DVR 線上導覽藝廊 建置</a
                >
              </li>
            </ul>
          </div>

          <!-- 策略聯盟 -->
          <div
            class="ma-footer__group ma-footer__group--alliance"
            aria-label="藝術資產策略聯盟"
          >
            <h5 class="ma-footer__title">藝術資產策略聯盟</h5>
            <ul class="ma-footer__list">
              <li>
                <a
                  href="https://www.bossmen.com/"
                  target="_blank"
                  rel="noopener noreferrer"
                  >BossMen 博士門</a
                >
              </li>
              <li>
                <a
                  href="https://uprint.com.tw/about/"
                  target="_blank"
                  rel="noopener noreferrer"
                  >uPrint 布萊特</a
                >
              </li>
              <li>
                <a
                  href="https://ones-digital.com/zh/%E9%A6%96%E9%A0%81/"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Ones 加伊創意</a
                >
              </li>
            </ul>
          </div>
          <!-- 相關企業 -->
          <div
            class="ma-footer__group ma-footer__group--partner"
            aria-label="相關企業"
          >
            <h5 class="ma-footer__title">相關企業</h5>
            <ul class="ma-footer__list">
              <li>
                <a
                  href="https://www.fantasy-tours.com/"
                  target="_blank"
                  rel="noopener noreferrer"
                  >上順旅行社</a
                >
              </li>
              <li>
                <a
                  href="https://www.shunbuilding.com/"
                  target="_blank"
                  rel="noopener noreferrer"
                  >上順不動產</a
                >
              </li>
              <li>
                <a
                  href="https://www.postwings.art/"
                  target="_blank"
                  rel="noopener noreferrer"
                  >POST WINGS 波翼藝術</a
                >
              </li>
            </ul>
          </div>

          <!-- 法律顧問 -->
          <div
            class="ma-footer__group ma-footer__group--legal"
            aria-label="法律顧問"
          >
            <h5 class="ma-footer__title">法律顧問</h5>
            <ul class="ma-footer__list">
              <li>
                <a
                  href="https://www.law-answer.com/firm/071282/c001831.html"
                  target="_blank"
                  rel="noopener noreferrer"
                  >五翰法律事務所</a
                >
              </li>
            </ul>
          </div>

          <!-- 聯絡資訊 -->
          <div
            class="ma-footer__group ma-footer__group--contact"
            aria-label="聯絡我們"
          >
            <h5 class="ma-footer__title">聯絡我們</h5>
            <ul class="ma-footer__list">
              <li>
                <a href="mailto:service@metaassets.com.tw"
                  >service@metaassets.com.tw</a
                >
              </li>
              <li><a href="tel:0903257803">0930-257-803</a></li>
              <li>
                <a
                  href="https://www.google.com/maps/search/?api=1&query=台北市中山區建國北路二段3巷37號B1"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  台北市中山區建國北路二段3巷37號B1
                </a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Copyright -->
        <div class="ma-footer__copyright">
          <p>Copyright © 2026 元宇宙資產股份有限公司 版權所有</p>
        </div>
      </div>
    </div>
  </div>
</footer>
