<aside class="ma-member-layout__sidebar">
  <div class="ma-member-profile">
    <p class="ma-member-profile__name">波波雞</p>
    <p class="ma-member-profile__id">0800-406-449</p>
  </div>

  <nav class="ma-member-menu" aria-label="會員中心選單">
    <a
      href="assets.html"
      class="ma-member-menu__link is-active"
      aria-current="page"
    >
      藝術資產
    </a>

    <a href="transaction-records.html" class="ma-member-menu__link"
      >交易鏈證紀錄</a
    >

    <a href="transaction-assigned.html" class="ma-member-menu__link"
      >指定給我的交易</a
    >

    <a href="login-change.html" class="ma-member-menu__link">個人錢包設定</a>

    <a href="../line.html" class="ma-member-menu__link">問題詢問</a>
  </nav>
</aside>
