<!-- 分頁導覽 -->
<!-- 分頁按鈕: 大版是1到5頁..., 小版是1到3頁...-->
<nav class="ma-pagination" aria-label="Pagination">
  <!-- Prev -->
  <button
    class="ma-pagination__btn ma-pagination__btn--prev"
    aria-label="Previous page"
  >
    ‹
  </button>

  <!-- Pages -->
  <div class="ma-pagination__pages">
    <button class="ma-pagination__btn is-active" aria-current="page">1</button>
    <button class="ma-pagination__btn">2</button>
    <button class="ma-pagination__btn">3</button>
    <button class="ma-pagination__btn">4</button>
    <button class="ma-pagination__btn">5</button>
    <span class="ma-pagination__ellipsis">…</span>
    <button class="ma-pagination__btn">134</button>
  </div>

  <!-- Next -->
  <button
    class="ma-pagination__btn ma-pagination__btn--next"
    aria-label="Next page"
  >
    ›
  </button>
</nav>
