<!-- 搜尋區 -->
<section class="ma-section ma-search" aria-label="搜尋">
  <div class="ma-container">
    <div class="ma-inner">
      <!-- search form -->
      <form class="ma-search-form ma-search-form--dark" role="search">
        <div class="ma-search-form__box">
          <!-- 放大鏡：裝飾 -->
          <button
            type="button"
            class="ma-icon-btn ma-search-form__icon"
            aria-hidden="true"
            tabindex="-1"
          >
            <img src="/images/icon_search.png" alt="" />
          </button>

          <input
            type="search"
            name="q"
            class="ma-search-form__input"
            placeholder="請輸入想要搜尋的藝術品名稱、藝術家、認證編號"
          />

          <!-- 清除 -->
          <button
            type="reset"
            class="ma-icon-btn ma-search-form__clear"
            aria-label="清除搜尋內容"
          >
            <img src="/images/icon_clear.png" alt="" />
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
