/* ma-btn：文字導向、可擴充的按鈕基底 */
.ma-btn {
  @include inline-flex(row, center, center, var(--spacing-8));
  padding: var(--btn-padding-y) var(--btn-padding-x);
  border-radius: var(--btn-radius);
  font: inherit;
  text-decoration: none;
  cursor: pointer;

  transition:
    background-color 200ms,
    color 200ms,
    opacity 200ms;
}

/* 按鈕失效樣式 */
.ma-btn:disabled,
.ma-btn.is-disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

/* =========================================================
   Button Variants – Color Based
   ========================================================= */

/* 黑底白字 */
.ma-btn--black-white {
  background: var(--color-gray-950);
  color: var(--color-white);
}

/* 黑底金字 */
.ma-btn--black-gold {
  background: var(--color-gray-950);
  color: var(--color-brand-primary);
}

/* 深灰 */
.ma-btn--gray-dark {
  background: var(--color-gray-700);
  color: var(--color-white);
  &:hover {
    background: var(--color-gray-950);
    color: var(--color-brand-primary);
  }
}

/* 淺灰 */
.ma-btn--gray-light {
  background: var(--color-gray-300);
  color: var(--color-gray-800);
  &:hover {
    background: var(--color-brand-primary-mid);
    color: var(--color-white);
  }
}

/* 金色 */
.ma-btn--gold {
  background: var(--gradient-gold-reverse);
  color: var(--color-white);
  &:hover {
    opacity: 0.9;
  }
}

/* 金框 */
.ma-btn--outline-gold {
  color: var(--color-white);
  border-radius: 0;
  border: 1px solid;
  border-image: var(--gradient-gold-reverse) 1;
}

/* 金框(非漸層) */
.ma-btn--outline-gold-solid {
  color: var(--color-brand-primary);
  border: 1px solid var(--color-brand-primary);
}

/* 金框(非漸層、方形) */
.ma-btn--outline-gold-solid-square {
  color: var(--color-brand-primary);
  background: var(--color-black);
  border: 1px solid var(--color-brand-primary);
  //border-radius: 0;
}

/* 像連結的按鈕 */
.ma-btn--link-gold {
  background: none;
  border: none;
  padding: 0;
  color: var(--color-brand-primary);
  font-size: var(--fs-body);
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
