<!doctype html>
<html lang="zh-Hant">
  <%- include('./layout/head', { pathPrefix: '' }); -%>

  <!-- 有些頁面的背景色是黑色 .ma-pager--dark -->
  <body class="ma-page ma-page--dark">
    <%- include('./layout/header', { pathPrefix: '' }); -%>

    <main class="ma-main">
      <section class="ma-section ma-line" aria-labelledby="ma-line-title">
        <div class="ma-container">
          <div class="ma-inner">
            <article
              class="ma-form-panel ma-form-panel--center ma-line__content"
            >
              <div
                class="ma-form-panel__body ma-form-stack ma-form-stack--loose"
              >
                <figure class="ma-line__qrcode" aria-label="LINE QR Code">
                  <img
                    class="ma-line__qrcode-img"
                    src="/images/line.png"
                    alt="LINE QR Code"
                    loading="lazy"
                  />
                </figure>

                <p class="ma-line__desc">掃描行動條碼加入好友</p>
              </div>
            </article>
          </div>
        </div>
      </section>
    </main>

    <%- include('./layout/footer', { pathPrefix: '' }); -%>
  </body>
</html>
